@import url("1.css");
@import url("2.css");
@import url("3.css");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f2932;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: #fff;
  margin-bottom: 10px;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin: 0;
}

section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
}

section h2 {
  margin-bottom: 10px;
  color: #333;
}

footer {
  background-color: #2e3d49;
  color: #fff;
  padding: 20px;
  text-align: center;
}

button {
  display: inline-block;
  border-radius: 40px;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #657482;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #454f58;
}

.Button_Center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.custom-button {
  background-color: #657482;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.custom-button:hover {
  background-color: #454f58;
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
